In [48]:
import numpy as np
import pandas as pd

In [49]:
# Importing the dataset

dataset = pd.read_csv('data/odi.csv')
dataset

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,0,0,301
1,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,0,0,301
2,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,4,0,0,0,301
3,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,6,0,0,0,301
4,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,6,0,0,0,301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350894,1188,2017-07-10,Mahinda Rajapaksa International Cricket Stadiu...,Sri Lanka,Zimbabwe,DAS Gunaratne,TL Chatara,201,8,49.2,39,0,59,18,203
350895,1188,2017-07-10,Mahinda Rajapaksa International Cricket Stadiu...,Sri Lanka,Zimbabwe,DAS Gunaratne,TL Chatara,201,8,49.3,39,0,59,18,203
350896,1188,2017-07-10,Mahinda Rajapaksa International Cricket Stadiu...,Sri Lanka,Zimbabwe,DAS Gunaratne,TL Chatara,201,8,49.4,38,0,59,18,203
350897,1188,2017-07-10,Mahinda Rajapaksa International Cricket Stadiu...,Sri Lanka,Zimbabwe,DAS Gunaratne,TL Chatara,202,8,49.5,38,0,59,18,203
350898,1188,2017-07-10,Mahinda Rajapaksa International Cricket Stadiu...,Sri Lanka,Zimbabwe,PVD Chameera,TL Chatara,203,8,49.6,38,0,59,18,203

In [85]:
X = dataset.iloc[:,[7,8,9,12,13]].values
y = dataset.iloc[:, 14].values

In [86]:
# Splitting the dataset into the Training set and Test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [87]:
# Feature Scaling

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Using Linear Regression Model

In [88]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [89]:
# Predicting results & Testing the dataset on trained model


y_pred = lr.predict(X_test)

score = lr.score(X_test,y_test)*100
print("R square value:" , score)

from sklearn import  metrics

print('MAE:', metrics.mean_absolute_error(y_test, y_pred))
print('MSE:', metrics.mean_squared_error(y_test, y_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

R square value: 52.737657811129445
MAE: 31.866131515248476
MSE: 1836.896177811565
RMSE: 42.85902679496543

In [90]:
def custom_accuracy(y_test,y_pred,thresold):
    right = 0
    l = len(y_pred)
   
    for i in range(l):
        if(abs(y_pred[i]-y_test[i]) <= thresold):
            right += 1
    return ((right/l)*100)

print("Custom Accuracy:" , custom_accuracy(y_test,y_pred,20))

Custom Accuracy: 43.354801937874036

In [91]:
# Testing with a random input from dataset

dataset.iloc[236][[7,8,9,12,13,14]]

runs            201
wickets           3
overs          37.4
striker         101
non-striker      51
total           301
Name: 236, dtype: object

In [92]:
new_prediction = lr.predict(sc.transform(np.array([[201,3,37.4,101,51]]))) # from dataset.iloc[350894]
print("Actual Score: ", dataset.iloc[236][14])
print("Predicted score: " , new_prediction[0])

Actual Score:  301
Predicted score:  306.54748439289693

## Using Random Forest Regressor Model

In [93]:
# Training the dataset

from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(n_estimators=100,max_features=None)
reg.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features=None, max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [94]:
# Predicting results & Testing the dataset on trained model


y_pred = reg.predict(X_test)

score = reg.score(X_test,y_test)*100
print("R square value:" , score)

from sklearn import  metrics

print('MAE:', metrics.mean_absolute_error(y_test, y_pred))
print('MSE:', metrics.mean_squared_error(y_test, y_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

R square value: 79.55768063060957
MAE: 15.554082674933882
MSE: 794.510313627221
RMSE: 28.187059329189005

In [95]:
def custom_accuracy(y_test,y_pred,thresold):
    right = 0
    l = len(y_pred)
   
    for i in range(l):
        if(abs(y_pred[i]-y_test[i]) <= thresold):
            right += 1
    return ((right/l)*100)

print("Custom Accuracy:" , custom_accuracy(y_test,y_pred,20))

Custom Accuracy: 77.15018523795953

In [96]:
# Testing with a random input from dataset

import numpy as np

dataset.iloc[354][[7,8,9,12,13,14]]

runs            35
wickets          1
overs          6.2
striker         22
non-striker     11
total          271
Name: 354, dtype: object

In [97]:
new_prediction = reg.predict(sc.transform(np.array([[35,1,6.2,22,11]]))) # from dataset.iloc[350894]
print("Actual Score: ", dataset.iloc[354][14])
print("Predicted score: " , new_prediction[0])

Actual Score:  271
Predicted score:  287.295

## Comparing Results from both the models

In [98]:
# Testing with a custom input 

new_prediction = lr.predict(sc.transform(np.array([[130,2,24.3,73,16]]))) 
print("Predicted score using Linear Regression Model: " , new_prediction[0])

new_prediction = reg.predict(sc.transform(np.array([[130,2,24.3,73,16]]))) 
print("Predicted score using Random Forest Regressor Model: " , new_prediction[0])

Predicted score using Linear Regression Model:  285.54519002204455
Predicted score using Random Forest Regressor Model:  247.08